<!--<p>Find me in app/views/books/new.html.erb</p>-->
<!--8章参照-->
 <h2>New Book</h2>
<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<!-- form_with部分 2章 参照 form_withについての補足-->
<%= form_with model: @book, url: '/books', method: :post do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Body</p>
  <%= f.text_area :body %>
  </br><%= f.submit 'Create Books' %>
<% end %>